src/conf/xml-resources/web-service-references/AirlineSOAP/wsdl/localhost_8080/assignment/AirlineSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="AirlineSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/assignment/AirlineSOAP?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://learn.it.uts.edu.au/wsd" schemaLocation="http://localhost:8080/assignment/AirlineSOAP?xsd=2"/>
</xsd:schema>
</types>
<message name="closeListing">
<part name="parameters" element="tns:closeListing"/>
</message>
<message name="closeListingResponse">
<part name="parameters" element="tns:closeListingResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="fetchListings">
<part name="parameters" element="tns:fetchListings"/>
</message>
<message name="fetchListingsResponse">
<part name="parameters" element="tns:fetchListingsResponse"/>
</message>
<message name="createListing">
<part name="parameters" element="tns:createListing"/>
</message>
<message name="createListingResponse">
<part name="parameters" element="tns:createListingResponse"/>
</message>
<message name="makeBooking">
<part name="parameters" element="tns:makeBooking"/>
</message>
<message name="makeBookingResponse">
<part name="parameters" element="tns:makeBookingResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<portType name="AirlineSOAP">
<operation name="closeListing">
<input wsam:Action="http://soap.wsd.uts/AirlineSOAP/closeListingRequest" message="tns:closeListing"/>
<output wsam:Action="http://soap.wsd.uts/AirlineSOAP/closeListingResponse" message="tns:closeListingResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/closeListing/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/closeListing/Fault/IOException"/>
</operation>
<operation name="fetchListings">
<input wsam:Action="http://soap.wsd.uts/AirlineSOAP/fetchListingsRequest" message="tns:fetchListings"/>
<output wsam:Action="http://soap.wsd.uts/AirlineSOAP/fetchListingsResponse" message="tns:fetchListingsResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/fetchListings/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/fetchListings/Fault/IOException"/>
</operation>
<operation name="createListing">
<input wsam:Action="http://soap.wsd.uts/AirlineSOAP/createListingRequest" message="tns:createListing"/>
<output wsam:Action="http://soap.wsd.uts/AirlineSOAP/createListingResponse" message="tns:createListingResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/createListing/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/createListing/Fault/IOException"/>
</operation>
<operation name="makeBooking">
<input wsam:Action="http://soap.wsd.uts/AirlineSOAP/makeBookingRequest" message="tns:makeBooking"/>
<output wsam:Action="http://soap.wsd.uts/AirlineSOAP/makeBookingResponse" message="tns:makeBookingResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/makeBooking/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/makeBooking/Fault/IOException"/>
</operation>
<operation name="login">
<input wsam:Action="http://soap.wsd.uts/AirlineSOAP/loginRequest" message="tns:login"/>
<output wsam:Action="http://soap.wsd.uts/AirlineSOAP/loginResponse" message="tns:loginResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/login/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/AirlineSOAP/login/Fault/IOException"/>
</operation>
<operation name="logout">
<input wsam:Action="http://soap.wsd.uts/AirlineSOAP/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://soap.wsd.uts/AirlineSOAP/logoutResponse" message="tns:logoutResponse"/>
</operation>
</portType>
<binding name="AirlineSOAPPortBinding" type="tns:AirlineSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="closeListing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="fetchListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="createListing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="makeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AirlineSOAP">
<port name="AirlineSOAPPort" binding="tns:AirlineSOAPPortBinding">
<soap:address location="http://localhost:8080/assignment/AirlineSOAP"/>
</port>
</service>
</definitions>